.card {
  padding: 20px;
  text-transform: uppercase;
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  max-width: 110px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #2196F3;
}

.info {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__wrapper {
    width: 100%;
    text-align: left;
  }
}

.title {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #A0B0B9;
}

.description {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #4A4A4A;
}